.contain {
  width: 40%;
}

.heading {
  color: white;
}

.input {
  width: 50%;
}

.btn_green:hover {
  color: rgb(58, 218, 18);
}

.icon_style:hover {
  color: red;
}

ul {
  list-style-type: none;
}

.txt {
  color: rgb(6, 147, 136);
}
